<ion-view style="" class=" " id="page10" title="Orders">
    <ion-content class="has-header" padding="true">


      <ion-list ng-repeat="item in orders" ng-hide="user.hide">

        <ion-item class="item-thumbnail-left" >

          <img  ng-src="{{'img/fk/'+ item.product_image +'.jpg'}}" >

          <a class="badge badge-balanced" style="position: absolute;right:0;" >{{item.status}}</a>
          <h4> {{item.product_name}} </h4> 
		 
		  <button ng-click="removeRecord(user)">Delete</button>



        </ion-item>

      </ion-list>


    </ion-content>
</ion-view>
